In [1]:
#import sqlite3 package
import sqlite3

In [2]:
# Create connection to DB: creates DB if not available
connection = sqlite3.connect("classroomDB.db")
connection.close()

In [6]:
# open connection
connection = sqlite3.connect("classroomDB.db")

# open cursor
cursor = connection.cursor()

# query
create_table = """
                CREATE TABLE classroom (
                    student_id INTEGER PRIMARY KEY,
                    name VARCHAR(20),
                    gender CHAR(1),
                    physics_marks INTEGER,
                    chemistry_marks INTEGER,
                    mathematics_marks INTEGER
                );"""

# execute query
cursor.execute(create_table)

# commit changes
connection.commit()

# close connection
connection.close()

OperationalError: table classroom already exists

In [8]:
# sample data
sample_data = [(1, 'Swastik', 'M', 90, 87, 88),
              (2, 'Ritu', 'F', 90, 98, 92),
              (3, 'Swarit', 'M', 89, 82, 76)]

# open connection
connection = sqlite3.connect("classroomDB.db")

# open cursor
cursor = connection.cursor()

# insert student record
for student in sample_data:
    insert_statement = """INSERT INTO classroom
                            (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                            VALUES 
                            ({0},"{1}","{2}",{3},{4},{5})""".format(student[0], student[1], student[2], student[3], student[4], student[5])
    cursor.execute(insert_statement)
    
# commit changes
connection.commit()

# close connection
connection.close()

In [9]:
# open connection
connection = sqlite3.connect("classroomDB.db")

# open cursor
cursor = connection.cursor()

# query
create_table = "SELECT * FROM classroom"

# execute query
cursor.execute(create_table)

# Fetch data
result = cursor.fetchall()

# print result
for row in result:
    print(row)

# close connection
connection.close()

(1, 'Swastik', 'M', 90, 87, 88)
(2, 'Ritu', 'F', 90, 98, 92)
(3, 'Swarit', 'M', 89, 82, 76)